<!doctype html>

<html>
<head>
    <title>All Done!</title>
</head>
<link rel="stylesheet" href="./static/style.css">
<h1>
    {{ completion_message }}
</h1>
<h2>
    Total number of attempts: {{ attempts }}
</h2>
</html>
