<!doctype html>

<html>
<head>
    <title>{{ title }}</title>
</head>
<link rel="stylesheet" href="./static/style.css">
<h1>
    Riddle #{{ riddle_id }}
</h1>
<br>
<h2>
    {{ riddle }}
</h2>
  <img src="./static/{{ image_name }}">
<form action="/">
  <label for="guess">Guess:</label>
  <input type="text" id="guess" name="guess" autocomplete="off">
  <input type="submit" value="Submit">
</form>
<h2>
    Hint: {{ hint }}
</h2>
{% if response %}
<br>
<h4>
    {{ response }}
</h4>
{% endif %}
<br>
<br>
{% if advance %}
<div class="center">
    <a href="/" class="button">Next</a>
</div>
{% endif %}
</html>
