<!doctype html>

<html xmlns="">
<head>
    <title>{{ title }}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<link rel="stylesheet" href="./static/style.css">
<script type=text/javascript>
function refresh_riddle() {
    $.getJSON("/data",
            function (data) {
                $("#riddle_id").text(data["riddle_id"]);
                $("#riddle").text(data["riddle"]);
                $("#hint").text(data["hint"]);
                $("#riddle_img").attr("src", data["image_name"]);
            }
    );
}
setInterval('refresh_riddle()', 5000);
</script>
<h1 id="riddle_id">
    Riddle #{{ riddle_id }}
</h1>
<br>
<h2 id="riddle">
    {{ riddle }}
</h2>
<img id="riddle_img" src="./static/{{ image_name }}">
{% if not advance %}
    <form action="/">
      <label for="guess">Guess:</label>
      <input type="text" id="guess" name="guess" autocomplete="off">
      <input type="submit" value="Submit">
    </form>
<h2 id="hint">
    Hint: {{ hint }}
</h2>
{% endif %}
{% if response %}
<br>
<h4>
    {{ response }}
</h4>
{% endif %}
<br>
<br>
{% if advance %}
<div class="center">
    <a href="/" class="button">Next Riddle</a>
</div>
{% endif %}
<!--Hello clever kids! There is no client-side code, cache, or cookies that hold answers.-->
</html>
