<!doctype html>

<html>
<head>
    <title>Progress Report</title>
</head>
<link rel="stylesheet" href="./static/style.css">
<h1>
    Progress Report
</h1>
<h2>
    Riddle Progress: {{ current_riddle_number }} of {{ riddle_count }}
</h2>
<h2>
    Current riddle: {{ current_riddle }}
</h2>
<h2>
    Total number of attempts: {{ attempts }}
</h2>
<div class="center">
    <a href="/admin/progress" class="button">Refresh</a>
</div>
</html>
